<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
	</head>
	<body>
	
		<div class="container">
			
			<div class="navbar">
				<a href="/">Home</a>
			</div>
			
			<div class="section center">
				<h3>Sign Up</h3>
				<form method="POST">
					<div class="row">
						<div class="three columns">&nbsp;</div>
						<div class="six columns">
							
							{{ if .UserError}}
							<label style="color: red; text-align: left;">{{.UserError}}</label>
							<input class="u-full-width" name="email" placeholder="Email" type="email"><br>
							{{else if and (not .UserError) (.PasswordError)}}
							<input class="u-full-width" name="email" placeholder="Email" type="email" value="{{.Email}}"><br>
							{{else}}
							<input class="u-full-width" name="email" placeholder="Email" type="email"><br>
							{{end}}							
							
							
							{{ if .PasswordError}}
							<label style="color: red; text-align: left;">{{.PasswordError}}</label>
							{{end}}		
							<input class="u-full-width" name="password" placeholder="Password" type="password"><br>
							
							<div style="padding: 2rem 0 2rem;">							
								<input class="u-pull-left" type="submit" name="submit" value="Submit">
							</div>
							<a class="u-pull-right" href="/login">Login</a>
						</div>
						<div class="three columns">&nbsp;</div>
					</div>
					
				</form>
				
			</div>
			
			
		</div>
		
	</body>
</html>

